@mixin gradient-main() {
	@include radial-gradient('at bottom', $main-light, $main-dark);
}

@mixin gradient-main-dark() {
	@include radial-gradient('at bottom', $main-dark, $main-darker);
}

@mixin gradient-green() {
	@include radial-gradient('at bottom', $green-light, $green-dark);
}

@mixin gradient-green-dark() {
	@include radial-gradient('at bottom', $green-light, $main-dark);
}

@mixin animation($duration:1s) {
	-webkit-transition: all $duration ease;
	transition: all $duration ease;
}


@mixin effect($effect, $duration:1s, $infinite:false, $delay:0s) {
	-webkit-animation-name: $effect;
	animation-name: $effect;

	-webkit-animation-fill-mode: both; 
	animation-fill-mode: both; 

	-webkit-animation-duration: $duration;
	animation-duration: $duration; 

	-webkit-animation-delay: $delay;
	animation-delay: $delay;



	//-webkit-transition: all $duration ease;
	//transition: all $duration ease;

	@if $infinite == true {
		-webkit-animation-duration: $duration;
		animation-iteration-count: infinite;

		
	}
}

@mixin background($stops...) {
	//background-image: -webkit-gradient(linear, left top, right top, from(red), to(#f06d06));
	background: $stops;
}

@mixin linear-gradient($direction, $stops...) {
	//background-image: -webkit-gradient(linear, left top, right top, from(red), to(#f06d06));
	background-image: linear-gradient($direction, $stops);
}

@mixin radial-gradient($position, $stops...) {
	background-image: -webkit-radial-gradient($stops);
	background-image: radial-gradient(unquote($position), $stops);
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	transition: $transition;
}

@mixin filter($filter) {
	-webkit-filter: $filter;
	-moz-filter: $filter;
	filter: $filter;
}

@mixin polygon($points...) {
	clip-path: polygon($points);
	-webkit-clip-path: polygon($points);
	-moz-clip-path: polygon($points);
}

@mixin box-shadow($shadow) {
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin placeholder($color, $size:"") {
	&::-webkit-input-placeholder {
		color: $color;
		@if $size != "" {
			font-size: $size;
		}
	}

	&:-moz-placeholder {
		color: $color;
		@if $size != "" {
			font-size: $size;
		}
	}

	&::-moz-placeholder {
		color: $color;
		@if $size != "" {
			font-size: $size;
		}
	}

	&:-ms-input-placeholder {
		color: $color;
		@if $size != "" {
			font-size: $size;
		}
	}
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
	// For Google Chrome
	&::-webkit-scrollbar {
		width:  $size;
		height: $size;
	}

	&::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}

	&::-webkit-scrollbar-track {
		background: $background-color;
	}
}