$highlight: #1CABE2;
$subhighlight: #01C0F3;

$green: #0cc35f;
$red: #E2231A;

$black: #000;
$white: #fff;
$gray: #E6E7E8;
$gray-dark: #8A8A8D;

$document: (
	'background' : $white,
	'width' : 1024,
	'min-height' : 100vh
);

$text: (
	'default' : $black,
	'default-hover' : lighten($black, 10%),
	'alt' : $gray-dark,
	'alt-hover' : lighten($gray-dark, 10%),
	'black' : $black,
	'black-hover' : lighten($black, 10%),
	'white' : $white,
	'white-hover' : darken($white, 10%),
	'highlight' : $highlight,
	'highlight-hover' : lighten($highlight, 10%),
	'link' : $highlight,
	'link-hover' : lighten($highlight, 10%),
	'green' : $green,
	'green-hover' : lighten($green, 10%),
	'red' : $red,
	'red-hover' : lighten($red, 10%)
);