.noflex {
	display: block !important;
}

.overflow-hidden {
	overflow: hidden;
}

.flex, .column-wrapper { 
	display: flex !important;

	&.ng-hide {
		display: none !important;
	}

	&.vertical {
		flex-direction: column;
	}

	&.full-flex {
		> * {
			//@extend .full-flex;

			&.static {
				@extend .static;
			}
		}
	}

	> * {
		display: block;

		flex: 0 1 auto;

		& table {
			display: table;
		}



		&.flex {
			display: flex !important;

			&.ng-hide {
				display: none !important;
			}

			/**/
		}
	}

	.static {
		flex: 0 0 auto !important;
	}

	.no-shrink {
		flex: 1 0 auto !important;
	}

	.no-grow {
		flex: 0 1 auto !important;
	}

	.full-flex {
		flex: 1 1 auto !important;
	}
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-center {
	> * {
		align-self: center;
	}
}

.grow-left {
	justify-content: flex-end;
}

.grow-right {
	justify-content: flex-start;
}

.grow-out {
	justify-content: center;
}

.grow-between {
	justify-content: space-between;
}

.grow-around {
	justify-content: space-around;
}

.flow-left {
	flex-direction: row-reverse;
}

.flow-right {
	flex-direction: row;
}

.flow-down {
	flex-direction: column;
}

.flow-up {
	flex-direction: column-reverse;
}

.col {
	margin: 0 5px;
	&.col-75 {
		flex: 3 1 auto;
		width: 75%;
	}

	&.col-66 {
		flex: 2 1 auto;
		width: 66%;
	}

	&.col-33, &.col-25 {
		flex: 1 1 auto;
	}

	&.col-33 {
		width: 33%;
	}

	&.col-25 {
		width: 25%;
	}
}