@import "media";
@import "brand";
@import "base";
@import "layout";
@import "svgs";

@import "compass/typography/links/link-colors";
@import "fonts";

* { 
	margin: 0; 
	padding: 0;
	box-sizing: border-box; 
}

/* TEXT COLORS */
.highlight { color: $highlight; }
.subhighlight { color: $subhighlight; }
.green { color: $green; }
.good { @extend .green; font-weight: bold; }
.red { color: $red; }
.bad { @extend .red; font-weight: bold; }
.dim { color: $gray-dark; }

/* TEXT SETTINGS */
.semibold { font-weight: 600; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.spaced { letter-spacing: 1px; }

/* FONT SIZES */
.text-size1 { font-size: .5em; }
.text-size2 { font-size: .75em; }
.text-size3 { font-size: .9em; }
.text-size4 { font-size: 1.2em; }
.text-size5 { font-size: 1.5em; }
.text-size6 { font-size: 1.9em; }
.text-size7 { font-size: 2.2em; }
.text-size8 { font-size: 2.5em; }
.text-size9 { font-size: 4em; }
.text-size10 { font-size: 5em; }

/* POSITIONING */
.width100p { width: 100%; }
.relative { position: relative; }
.absolute { position: absolute; }
.absolute.top { top: 3px; }
.absolute.bottom { bottom: 3px; }
.absolute.right { right: 5px; }
.absolute.left { left: 5px; }
.position.static { position: static; }
.inline-block { display: inline-block; }
.float.left { float: left; }
.float.right { float: right; }
.float.none { float: none; }
.clear { clear: both; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* DEFAULT ELEMENT STYLES */
img { border: none; }

h1 {
	font-size: 48px;
	line-height: 48px;
	font-weight: 400;
}

h2 {
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;

	margin: 0 0 44px 0;
	max-width: 700px;
}

h3 {
	font-family: 'Univers LT Std';
	font-size: 28px;
	line-height: 38px;
	font-weight: 400;
	margin: 0 0 13px 0;
	
	//text-transform: uppercase;
}

h4 {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;

	margin: 0 0 20px 0;
}

h5 {
	font-size: 1.15em;
	font-weight: 400;
}

h6 {
	font-size: 1em;
	font-weight: 300;
}

p {
	line-height: 1.5em;
}

a {  
	@include link-colors(map-get($text, 'link'), map-get($text, 'link-hover'), map-get($text, 'link'), map-get($text, 'link')); 
	text-decoration: none;
	outline: none;

	&:hover {
		cursor: pointer;
	}

	&.underline {
		border-bottom: 1px solid $black; 
		//text-decoration: underline;
	}
}

a.highlight, a.ico.highlight {
	@include link-colors(map-get($text, 'highlight'), map-get($text, 'highlight-hover'), map-get($text, 'highlight'), map-get($text, 'highlight')); 
}

a.alt, a.ico.alt {
	@include link-colors(map-get($text, 'alt'), map-get($text, 'alt-hover'), map-get($text, 'alt'), map-get($text, 'alt'));
}

a.black {
	@include link-colors(map-get($text, 'black'), map-get($text, 'black-hover'), map-get($text, 'black'), map-get($text, 'black')); 
}

a.white {
	@include link-colors(map-get($text, 'white'), map-get($text, 'white-hover'), map-get($text, 'white'), map-get($text, 'white')); 
}

a.red, a.ico.red {
	@include link-colors(map-get($text, 'red'), map-get($text, 'red-hover'), map-get($text, 'red'), map-get($text, 'red')); 
}

a.green, a.ico.green {
	@include link-colors(map-get($text, 'green'), map-get($text, 'green-hover'), map-get($text, 'green'), map-get($text, 'green'));
}

@import "site/site";