footer { 
	padding: 80px 0 50px 0;
	
	nav {
		ul {
			@extend .flex;
			@extend .flex-center;
			@extend .grow-out;

			li {
				list-style: none;
				margin: 0 32px;

				a {
					@include link-colors(map-get($text, 'alt'), map-get($text, 'alt-hover'), map-get($text, 'alt'), map-get($text, 'alt')); 
					text-decoration: underline;
				}

			}
		}
	}	
}