.tooltip {
	//z-index: 99999;
	display: inline-block;
	position: relative;
	padding: 0 !important;
	margin: 0 !important;

	&.active {
		&:hover {
			//cursor: help;

			.tip-wrapper {
				display: block;
			}
		}
	}
	

	.tip-wrapper {
		min-width: 0px;
		box-shadow: none;
		position: absolute; 
		z-index: 9998; 
		display: none; 
		font-size: 13px; 
		color: $black;
		text-transform: none;
		font-weight: 400;

		&:before {
			width: 0;
			height: 0;
			content: ' ';
			position: absolute;
			z-index: 2;
			//left: 10px;
		}

		&:after {
			content: ' ';
			width: 10px;
			height: 10px;
			border: 1px solid #b7b7b7;

			position: absolute;
			z-index: 0;
			@include transform(translateX(-50%) rotate(46deg));
			
			//box-shadow: 0px -2px 9px 1px black;
			//box-shadow: 0px -1px 7px 2px black;
		}

		&.force-show {
			display: block !important;
		}

		&.position-top {
			top: auto;
			bottom: 100%;
			padding-bottom: 3px;
			margin-bottom: 3px;
			//@include transform(translateY(-50%));

			&.rich {
				&:before {
					border-top-color: $white;
				}
			}

			&:before {
				bottom: -4px;
				left: 10px;

				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid $white;
			}

			&:after {
				bottom: -3px;
				left: 50%;

				border-top: 0px;
				border-left: 0px;
			}
		}

		&.position-middle {
			bottom: auto;
			top: 50%;
			@include transform(translateY(-50%));

			&:before {
				top: 50%;
				@include transform(translateY(-50%));
			}
		}

		&.position-bottom {
			bottom: auto;
			top: 100%;
			padding-top: 3px;
			margin-top: 3px;

			&:before {
				top: -4px;
				left: 10px;

				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid $white-dark;
			}

			&:after {
				top: -2px;
				border-bottom: 0px;
				border-right: 0px;
			}
			//@include transform(translateY(-50%));
		}

		&.position-right {
			left: 130%;
			right: auto;
			padding-left: 3px;

			&.rich {
				&:before {
					border-right-color: $white-dark;
				}
			}

			&:before {
				left: -4px;

				border-bottom: 10px solid transparent;
				border-top: 10px solid transparent;
				border-right: 10px solid $white;
			}

			&:after {
				left: -3px;
				top: 50%;
				@include transform(translateY(-50%) rotate(46deg));
				border-right: 0px;
				border-top: 0px;
			}
		}

		&.position-left {
			right: 130%;
			left: auto;
			padding-right: 3px;

			&.rich {
				&:before {
					border-left-color: $white-dark;
				}
			}

			&:before {
				right: -4px;

				border-bottom: 10px solid transparent;
				border-top: 10px solid transparent;
				border-left: 10px solid $white;
			}

			&:after {
				right: -3px;
				top: 50%;
				@include transform(translateY(-50%) rotate(46deg));
				border-left: 0px;
				border-bottom: 0px;
			}
		}

		&.position-center {
			left: 50%;

			@include transform(translateX(-50%));
			
			&.position-top {
				@include transform(translate(-50%, 00%));

				&:before {
					left: 50%;
					@include transform(translateX(-50%));
				}

				&:after {
					left: 50%;
				}
			}

			&.position-bottom {
				@include transform(translate(-50%, 00%));
				&:before {
					left: 50%;
					@include transform(translateX(-50%));
				}

				&:after {
					left: 50%;
				}
			}
		}

		&.rich {
			.tip-title {
				background: $white-dark;
				padding: 10px 12px;
				border-radius: 3px 3px 0 0;
				border-bottom: 1px solid $gray-dark;

				.ico {
					font-size: 15px;
					margin-right: 7px;
				}

				p {
					font-size: 13px;
					font-weight: 600;
				}
			}

			.tip-content {
				width: 225px !important;
				box-shadow: 0 0 10px -3px $black;
				border-radius: 3px;
				border: 1px solid #b7b7b7;
				//overflow: hidden;
				//border-radius: 5px;

				.tip {
					padding: 12px 10px;
					line-height: 1.2em;
					font-size: 13px;
					box-shadow: none;
					border: none;
					//border-radius: 0px 0 3px 3px;
					background: $white;
					text-align: center;

				}
			}

			.tip-footer {
				//background: $main-light;
				background: $white;
				padding: 5px 10px 10px 10px;

				.button {
					padding: 5px;
					font-weight: 600;
				}
			}	
		}

		&:not(.rich) {
			.tip-content {
				.tip {
					border-radius: 3px;
				}
			}
		}

		.tip-content {
			.tip {
				font-size: 13px;
				width: auto;
				background: $white;
				padding: 8px 12px;
				box-shadow: 0 0 12px -4px $black;
				border: 1px solid #b7b7b7;
			}
		}

		&.black {
			//max-width: 200px; 

			border: 1px solid $gray-darkest; 
			background: rgba($black, .85);

			&.rich {
				min-width: 200px;
			}

			.tip-title { 
				font-size: 1em; 
				border-bottom: 1px dotted $gray-darker; 
				padding: 5px; 
				margin: 0 5px;
			}

			.tip-content {
				&.center {
					.tip {
						text-align: center;
					}
				}

				&.no-wrap {
					.tip {
						white-space: nowrap;
					}
				}

				.tip {
					font-size: .8em;
					text-align: left;
					color: #ccc;
					width: auto;
				}
			}
		}
	}
}