.c-table-wrapper {
	overflow: hidden;

	#context-wrapper {
		//min-height: calc(100vh / 2 + 10px);
		//font-size: 11px;
		text-align: center;

		padding: 20px;

		.message {
			//letter-spacing: 1px;
			//text-transform: uppercase;
			@include effect(flash, 3s, true);
		}

		.no-data {
			&.ng-enter {
				@include effect(fadeIn, .3s);
			}
		}
	}

	.pagination-wrapper {
		text-align: right;

		.pagination {
			margin: 5px 0 0 0;
			border: 1px solid $gray;
			float: right;

			> a {
				padding: 7px 10px 4px 10px;
				display: inline-block;
				color: $black;

				&:hover {
					background: $gray;
				}

				&.active {
					background: $subhighlight;
		    		color: $white;
				}

				&.inactive {
					color: $gray;

					&:hover {
						background: transparent;
						cursor: default;
					}
				}

				&:nth-child(1), &:last-child {
					padding: 4px 5px 2px 5px;

					i {
						font-size: 1.2em;
					}
				}

				i {
					font-size: 1em;
				}
			}
		}

		.pagination-results {
			color: $gray-dark;
			font-size: .71em;

			margin: 5px;
			float: right;
		}
	}
}