.c-input {
	position: relative;
	text-align: center;
	padding: 2px 15px;
	background: $whiter;
	border: 1px solid $gray-dark;
	border-radius: 3px;
	font-weight: 600;
	transition: width .2s ease-in-out;

	&:hover {
		cursor: pointer;
	}

	&.active {
		input {
			display: inline-block;
			width: 100%;
			padding: 0 5px;
			position: static;
		}

		.label {
			//width: 100%;
			position: absolute;
			top: 50%;
			left: 5px;
			@include transform(translateY(-50%));

			i {
				
			}

			span {
				display: none;
				float: right;
			}
		}
	}

	.label {
		display: inline-block;
		//margin: 1px 0 0 0;
		line-height: 19px;

		i {
			margin-right: 5px;
		}

		span {
		}
	}		

	input {
		//display: none;
		background: $whiter;
		width: 0px;
		vertical-align: middle;
		position: absolute;
		padding: 0;
	}
}