form {
	.input-wrapper, .checkbox-wrapper {
		position: relative;
	}

	.c-form-errors {
		position: absolute;
		width: 100%;

		top: calc(100% - 1px);
		left: 0;

		z-index: 9999;

		.c-form-error {
			border-top: 2px solid $red;
			padding: 7px 0px;
			margin-bottom: 3px;

			background: $white;
			//box-shadow: 0px 1px 3px -2px $black;

			&.ng-enter {
				@include effect(fadeIn, .3s);
			}

			&.ng-leave {
				@include effect(fadeOut, .3s);
			}

			i {
				margin-right: 5px;
				color: $red;
			}

			span {
				color: $red;
			}
		}
	}
}