.c-search {
	position: relative;
	display: inline-block;

	&:hover {
		//cursor: pointer;
	}

	.input-wrapper {
		margin-bottom: 0 !important;

		&.icon {
			padding: 5px 10px;
			background: $white;
			border: 1px solid $gray-dark;
			border-radius: 3px;
			display: inline-block;
			width: 236px;

			i {
				font-size: 1.3em;
			}

			input {
				background: $white;
				padding: 5px;
			}
		}

		.input-title {
			color: $gray-darkest;
		}

		&:not(.icon) {
			input {
				padding: 10px;
				background: $white;
				border: 1px solid $gray-dark;
				border-radius: 3px;
			}
		}
	}

	.dropdown {
		display: none;
		z-index: 999;

		position: absolute;
		top: calc(100% - 1px);

		min-width: 120%;
		border: 1px solid $gray-dark;
		border-radius: 0 0 3px 3px;
		box-shadow: 0 1px 5px -2px $black;

		&.visible {
			display: block;
		}

		p {
			border-bottom: 1px solid $gray;
			background: $whiter;
			padding: 5px 10px;
			white-space: nowrap;

			&:last-child {
				border-radius: 0 0 3px 3px;
				border-bottom: 0px;
			}

			&:hover {
				background: $white-dark;
				color: $gray-darkest;
				cursor: pointer;

				i {
					display: inline-block;
				}
			}

			i {
				display: none;
			}
		}
	}
}