#resource-modal {
	.ng-modal {
		&.video {
			.preview {
				height: 286px;
			}
		}

		&.pdf {

		}

		.preview {
			width: 835px;
			height: 444px;
			border: 1px solid $gray;

			margin: 36px 0 48px 0;
		}
	}
}