.c-select {
	position: relative;
	display: inline-block;

	> input {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 0px;
		height: 0px;
	}

	&:hover {
		cursor: pointer;

		.dropdown {
			&.visible {
				//display: block;
			}
		}
	}

	&.visible {
		.current-value {
			border-radius: 3px 3px 0 0;
			border-bottom-color: transparent;
		}
	}


	.current-value {
		padding: 2px 60px 2px 0;
		background: $white;
		border-bottom: 1px solid $gray-dark;
		border-radius: 1px;
		font-weight: 300;
		font-size: 1.175em;
		position: relative;

		&:after {
			content: '\f00a'; //FA character
			font-family: 'UnicefPortugal';
			font-size: 20px;
			position: absolute;
			right: 10px;
			top: 50%;
			color: $gray-dark;
			@include transform(translateY(-50%));
		}
	}

	.dropdown {
		//display: none;
		z-index: 999;

		position: absolute;
		top: calc(100% - 1px);

		min-width: 120%;
		border: 1px solid $gray;
		border-radius: 0 0 3px 3px;
		box-shadow: 1px 1px 3px -2px $black;

		p {
			border-bottom: 1px solid $gray;
			background: $white;
			padding: 5px 10px;
			white-space: nowrap;

			&:last-child {
				border-radius: 0 0 3px 3px;
				border-bottom: 0px;
			}

			&:hover {
				background: $white;
				color: $gray-dark;
			}
		}
	}
}