.ng-modal {
	//transition: all ease 3s;
	width: 0px !important;
	height: 0px !important;
	opacity: 1;
	@include transition(all ease .3s);

	//display: none !important;

	.ng-modal-overlay {
		/* A dark translucent div that covers the whole screen */
		position:fixed;
		z-index:9994;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:#000000;
		opacity: 0.5;

		opacity: .5; 
		@include transition(opacity ease .3s);
 
		&.ng-enter { opacity: 0; } 
		&.ng-enter-active { opacity: .5; } 
		&.ng-leave-active { opacity:0; }
	}

	.ng-modal-close {
		position: absolute;
		top: 15px;
		right: 15px;

		@include link-colors($gray-dark, $black, $gray-dark, $gray-dark);

	}

	.ng-modal-dialog {
		@include transition(all ease .3s);

		z-index: 9995;
		position: fixed;

		background: $white;
		box-shadow: 1px 1px 3px -1px $black;

		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));

		&.ng-enter { opacity: 0; top: 0; } 
		&.ng-enter-active { opacity: 1; top: 50%; } 
		&.ng-leave-active { opacity: 0; top: 100%; }

		.ng-modal-dialog-content {
			padding: 40px;

			h2.title {
				margin: 0 0 30px 0;
			}

			.footer {
				margin: 40px 0 0 0;
			}
		}
	}
}