.c-notifications { 
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;

	.c-notification {
		background: $white;
	    max-width: 800px;
	    margin: 0 auto 7px auto;
	    padding: 15px 30px;

	    display: flex;
	    border-top: 3px solid transparent; 

	    &.error {
	    	color: $red;
	    	border-color: $red;
	    }

	    &.success {
	    	color: $green;
	    	border-color: $green;
	    }

	    &:hover {
	    	cursor: pointer;

	    	.ico-times {
	    		color: $black;
	    	}
	    }

	    &.ng-enter {
			@include effect(fadeInDown, .5s);	
		}

		&.ng-leave {
			@include effect(fadeOutUp, .5s);	
		}

	    > * {
	    	align-self: center;

	    }

	    .ico-exclamation-circle {
	    	margin: 0 7px 3px 0;
	    	color: $red;
	    	font-size: 1.5em;
	    }

	    .ico-check-circle {
	    	margin: 0 7px 3px 0;
	    	color: $green;
	    	font-size: 1.5em;
	    }

	    .ico-times {
	    	margin-left: auto;
	    	color: $gray-dark;
	    }
	}	
}