<modal show="modal.show" hidecornercancel=false hidebuttoncancel=false>
	<section class="c-login">
		<h2 class="title text-center">Sign In</h2>
		<form c-form="$promise" name="login">
			<div class="input-series">
				<div class="input-wrapper">
					<p>Email</p>
					<input ng-model="form.email" c-focus-on="modal.show" c-validate placeholder="" type="text" name="email"  ng-enter="Login()" />
					<c-form-errors element="login.email"></c-form-errors>
				</div>
				<div class="input-wrapper">
					<p>Password</p>
					<input ng-model="form.password" c-validate placeholder="" type="password" name="password" ng-enter="Login()" />
					<c-form-errors element="login.password"></c-form-errors>
				</div>
			</div>
			<div class="checkbox-set">
				<div class="checkbox-wrapper">
					<label><input ng-model="form.remember" type="checkbox" name="rememberme" /> <span>Remember Me</span></label>
				</div>
			</div>
			<a href="" class="submit button wide" ng-class="[!form.password || !form.email ? 'inactive' : '', form.processing ? 'busy' : '']" ng-click="Login()">
				Sign In
			</a>
		</form>
		<div class="footer text-center">
			<p ng-if="!User.token">Don't have an account?<br /> <a class="black underline" href="" ng-click="showRegistration()">Register Here!</a></p>
		</div>
	</section>
</modal>