<div id="resource-modal">
	<modal class="pdf" show="lesson && lesson.type == 'pdf'">
		<h3 class="title">
			{{lesson.title || 'PDF Lesson'}}
		</h3>
		<div class="preview"></div>
		<div class="actions">
			<a class="button" ng-click="downloadLesson()">Download PDF</a>
			<a class="button outline" ng-click="closeLesson()">Close Preview</a>
		</div>
	</modal>

	<modal class="video" show="lesson && lesson.type == 'video'">
		<h3 class="title">
			{{lesson.title || 'Video Lesson' }}
		</h3>
		<div class="preview"></div>
		<div class="actions">
			<a class="button" ng-click="downloadLesson()">Save Video</a>
			<a class="button outline" ng-click="closeLesson()">Close Video</a>
		</div>
	</modal>
</div>