<header class="flex flex-center" c-animate-view>
	<div id="logo" class="full-flex">
		<a ui-sref="site.home"><i class="ico ico-logo highlight"></i></a>
	</div>
	<nav>
		<ul class="flex flex-center">
			<li><a ui-sref="site.about">UNICEF</a></li>
			<li><a ui-sref="site.resources">Resources</a></li>
			<li><a ui-sref="site.teachers">Teacher Support</a></li>
			<li ng-if="!User.token"><a class="button" ng-click="site.Login()">Sign In</a></li>
			<li ng-if="User.token"><a ui-sref="site.dashboard" class="">My Dashboard</a></li>
			<li ng-if="User.token && User.type == 'staff'"><a ui-sref="site.office" class="">Back Office</a></li>
			<li ng-if="User.token"><a class="button outline" ng-click="User.$logout()">Sign Out</a></li>
		</ul>
	</nav>
</header>