<modal id="user-registration" show="modal.show" hidecornercancel=false hidebuttoncancel=true>
	<section class="c-registration">
		<h2 class="title text-center">Registration</h2>
		<form name="registration" c-form="$promise">
			<div class="step1" ng-if="settings.step == 1">
				<div class="input-series">
					<div class="input-wrapper">
						<p>Email</p>
						<input class="full-flex" c-validate ng-model="form.email" c-focus-on="modal.show" placeholder="" type="text" name="email" ng-enter="Register()" />
						<c-form-errors element="registration.email"></c-form-errors>
					</div>
					<div class="input-wrapper">
						<p>Password</p>
						<input class="full-flex" c-validate ng-model="form.password"  placeholder="" type="password" name="password" ng-enter="Register()" />
						<c-form-errors element="registration.password"></c-form-errors>
					</div>
					<div class="input-wrapper">
						<p>Confirm Password</p>
						<input class="full-flex" c-validate ng-model="form.passwordconfirm" placeholder="" type="password" name="passwordconfirm" ng-enter="Register()" />
						<c-form-errors element="registration.passwordconfirm"></c-form-errors>
					</div>
					<div class="input-wrapper">
						<p>School Name</p>
						<input class="full-flex" c-validate ng-model="form.school"  placeholder="" type="text" name="school" ng-enter="Register()" />
						<c-form-errors element="registration.school"></c-form-errors>
					</div>
				</div>
				<div class="checkbox-set">
					<div class="checkbox-wrapper">
						<label>
							<input ng-model="form.terms" c-validate type="checkbox" name="terms" /> 
							<p>I agree to the <a ui-sref="site.terms" target="_blank">Terms of Use</a> and <a ui-sref="site.privacy" target="_blank">Privacy Policy</a></p>
							<c-form-errors element="registration.terms"></c-form-errors>
						</label>
					</div>
				</div>
				<a href="" class="submit button wide" ng-class="[form.processing ? 'busy' : '', !form.password || !form.email || !form.school || !form.terms ? 'inactive' : '']" ng-click="Register()">
					Register
				</a>
			</div>
		</form>
		<div class="footer text-center">
			<p ng-if="!User.token">Already have an account? <br /><a class="black underline" href="" ng-click="showLogin()">Sign In Here</a></p>
			<p ng-if="User.token">Welcome, {{user.username}}!</p>
		</div>
	</section>
</modal>