<footer>
	<nav>
		<ul>
			<li><a ui-sref="site.contact">Contact</a></li>
			<li><a ui-sref="site.terms">Terms &amp; Conditions</a></li>
			<li><a ui-sref="site.privacy">Privacy Policy</a></li>
		</ul>
	</nav>	
</footer>