#site-teachers {
	.hero {
		overflow: hidden;

		img {
			width: 100%;
			//max-height: 100%;
		}
	}

	#video {
	}	

	#steps {
		max-width: 660px;
		margin: 0 auto;

		ul {
			margin: 60px 0 0 0;

			li {
				@extend .flex;

				margin: 0px 0 65px 0;
				max-width: 575px;

				.step-number {
					@extend .static;

					width: 48px;
					height: 48px;
					margin-right: 35px;
					border-radius: 48px;

					text-align: center;
					line-height: 54px;
					font-size: 1.25em;

					background: $highlight;
					color: map-get($text, 'white');
				}

				.step-info {
					margin-top: 0px;

					h4.step-title {
						height: 48px;
						vertical-align: middle;

						margin: 14px 0 10px 0;
					}

					.step-description {
						font-size: 1.125em;
						line-height: 28px;
					}
				}
			}
		}
	}
}