#site-dashboard {
	section {
		margin: 0 0 51px 0;

		.title {
			h3 {
				margin-bottom: 0;
			}
		}

		&#activities {
			table {
				thead, tbody {
					tr {
						> :nth-child(1) {
							padding: 20px 0px 20px 10px;
						}
					}
				}

				tbody {
					td.rating {
						i {
							padding: 0 2px;
							font-size: 19px;

							&:hover {
								cursor: pointer;
							}
						}

						.ico-star-outline {
							&:hover {
								&~ {
									background: white;
								}
							}
						}
					}
				}
			}

			.ico-search {
				font-size: 1.3em;
				&:hover {
					cursor: pointer;
				}
			}

			td.type {
				text-transform: uppercase;
			}
		}
	}
	
	table.keyval {
		margin: 0 0 0 10px;

		td:nth-child(1) { 
			min-width: 150px; 
		}

		tr {
			&.ng-enter {
				@include effect(fadeIn, .5s);
				
				a {
					@include effect(fadeIn, .5s);
				}
			}
		}

		td {
			height: 38px;

			> div {
				width: 300px;

				&.ng-enter {
					@include effect(fadeIn, .5s);
				}
			}

			> span {
				border-bottom: 1px solid transparent;
			}
		}
	}

	#feedback {
		textarea {
			margin: 0 0 20px 0;
			border: 1px solid $gray;
			outline: none;

			width: 580px;
			height: 300px;

			padding: 10px;
			font-size: 16px;
		}
	}

	form {
		input {
			font-size: 1em;
		}

		td > div {
			position: relative;

		}
	}
}