#site-about {
	.hero {
		overflow: hidden;

		img {
			width: 100%;
			//max-height: 100%;
		}
	}

	section {
		.content {
			color: map-get($text, 'default');
		}

		.image {
			img {
				width: 100%;
				//max-height: 100%;
			}
		}
	}
}