html {
	font-family:'Univers LT Std'; 
	font-size: 16px; 
	font-weight: 300; 
	line-height: 1;
	
	background: map-get($document, 'background'); 
	color: map-get($text, 'default');
}

#site {
	max-width: 1024px;
	min-height: 100vh;
	margin: 0 auto;
	position: relative;
}

a.button {
	background: $highlight;
	padding: 11px 16px 8px 16px;
	border-radius: 4px;
	display: inline-block;

	font-size: .875em;
	text-transform: uppercase;

	@include link-colors(map-get($text, 'white'), map-get($text, 'white'), map-get($text, 'white'), map-get($text, 'white')); 

	&:hover {
		background: $subhighlight;
	}

	&.wide {
		width: 100%;
		display: block;
		text-align: center;
	}

	&.inactive {
		background: $gray;
	}

	&.busy {
		background: $gray-dark;
	}

	&.inactive, &.busy {
		cursor: default !important;
	}

	&.outline {
		background: transparent;
		border: 1px solid $highlight;
		color: $highlight;

		text-align: center;

		&:hover {
			//background: $highlight;
			//border-color: transparent;
			color: $subhighlight;
			border-color: $subhighlight;
		}
	}
}

.ico-logo {
	font-size: 36px;
}

.ico-sort-desc, .ico-sort-asc {
	font-size: .45em;
}

.content-separator {
	width: 50px;
	height: 6px;
	margin: 24px 0 36px 0;

	display: block;
	background: $highlight;

	&.center {
		width: 100px;
		margin: 50px auto;
	}
}

main {
	.hero {
		width: 1003px;
		height: 341px;
		
		border: 1px solid $gray;
	}

	&.resource-page {
		#filters {
			margin: 0 0 15px 0;

			> p {
				font-size: 14px;
				font-weight: 100;
				color: $black;
				letter-spacing: 1.5px;
				text-transform: uppercase;
			}

			.filter-input {
				color: $gray-dark;
				font-size: .875em;

				position: relative;

				border-bottom: 1px solid $gray-dark;
				padding: 3px 0;
				margin: 0 15px;
				min-width: 150px;

				&:hover {
					.filter-dropdown {
						display: block !important;
					}
				}

				.filter-dropdown {
					position: absolute;
					top: 100%;
					left: 0;
					z-index: 2;

					width: 100%;
					min-height: 100px;

					display: none !important;

					border: 1px solid $gray;
					padding: 10px;
					background: $white;

					@include box-shadow(1px 1px 3px -2px $black);

					.ico-checkbox-checked {
						color: $highlight;
					}

					.ico-checkbox-unchecked {
						color: $gray-dark;
					}

					ul {
						li {
							list-style: none;
							padding: 7px 5px;

							&:hover {
								cursor: pointer;
							}

							i {
								margin: 0 5px 0 0;
							}
						}
					}
				}
			}

			#search {
				margin-left: auto;
				width: 325px;

				display: flex;

				> * {
					align-self: center;
				}

				i {
					font-size: 18px;
					color: black;
					margin: 0 6px 0 0;
				}

				.input-wrapper {
					width: 100%;

					input {
						border: 0;
						border-bottom: 1px solid $gray-dark;
						padding: 3px 0;
						font-size: .875em;

						width: 100%;

						&:focus, &:active {
							outline: 0;
						}
					}
				}
			}
		}	

		.resource-list {
			h3 {
				margin: 50px 0 20px 0;
			}

			.resources {
				display: flex;
				flex-wrap: wrap;

				&.ng-enter {
					@include effect(fadeIn, .5s);
				}

				.resource {
					width: 235px;
					height: 150px;
					margin: 10px 20px 10px 0;
					padding: 0 10px;

					border: 1px solid $gray;
					border-radius: 4px;

					//line-height: 150px;
					font-size: 1.125em;
					text-align: center;

					position: relative;
					display: flex;
					justify-content: space-around; 

					> * {
						align-self: center;
					}

					&:nth-child(4n) {
						//margin-right: 0px;
					}

					&:hover {
						cursor: pointer;
						//border-color: $highlight;
						background-color: $highlight;

						color: $white;

						.cover {
							display: flex;
						}
					}

					&.ng-enter {
						@include effect(fadeIn, .7s);
					}

					&.ng-leave {
						//@include effect(fadeOutUp, .3s);
					}

					.caption {
						font-size: 14px;
						text-transform: uppercase;

						margin: 5px 0 0 0;
					}

					.cover {
						display: none;

						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;

						background: $black;

						justify-content: space-around;

						> * {
							align-self: center;
						}

						div > div {
							color: $white;
							letter-spacing: 1px;
							margin: 11px 0;
							font-size: 14px;

							display: flex;

							> * {
								align-self: center;
							}

							i {
								margin: 0 10px 4px 0;
								font-size: 16px;

								&.ico-search {
									font-size: 19px;
								}

								&.ico-download {
									font-size: 15px;
								}
							}
						}
					}
				}
			}

			.no-resources {
				padding: 30px;
			    border: 1px solid $gray;
			    border-radius: 4px;
			    margin: 20px auto 0 auto;
			    max-width: 700px;
			    text-align: center;

			    &.ng-enter {
					@include effect(fadeIn, .5s);
				}
			}
		}
	}

	section {
		> .title {
			@extend .flex;
			@extend .flex-center;

			margin-bottom: 24px;

			h3 {
				margin-right: 24px;
			}

			.action {
				@extend .flex-center;
			}
		}

		.content {
			color: map-get($text, 'alt');

			&.row {
				@extend .flex;
				@extend .flex-center;
				@extend .grow-between;

				margin-top: 80px;

				.image {
					@extend .static;

					width: 427px;
					height: 280px;

					border: 1px solid $gray;
				}

				.text {
					max-width: 490px;
				}
			}

			ul {
				li {
					margin: 0 0 25px 30px;
					line-height: 26px;
					padding: 0 0 0 15px;
					list-style-position: outside;
				}
			}
		}
	}
}

table {
	&.keyval {
		td {
			padding: 8px 0;

			&:nth-child(1) { //key
				font-size: .875em;
			}

			&:nth-child(2) { //val

			}
		}
	}

	&.c-table {
		border-spacing: 0;
		width: 100%;

		thead {
			th {
				background: $subhighlight;
				padding: 13px 10px;

				color: map-get($text, 'white');
				text-align: left;
				font-size: .875em;
				font-family: 'Univers LT Std Condensed';
				font-weight: 400;

				cursor: pointer;

				&.nosort {
					cursor: default;
				}

				> span {
					display: flex;
					> * {
						align-self: center;
					}	
				} 

				span > span {
					margin: 0 0 -5px 0;
				}

				.ico {
					margin: 0 0 0 5px;
					font-size: 7px;
					width: 12px;

					&.hidden {
						visibility: hidden;
					}

					&.visible {
						visibility: visible;
					}

					&.ico-sort-unsorted {
						font-size: 10px;
					}
				}
			}
		}

		tbody {
			tr {
				&:nth-child(odd) {

				}

				&:nth-child(odd) {
					background: $gray;					
				}

				td {
					padding: 20px 10px 19px 10px;
					color: map-get($text, 'alt');
				}
			}
		}
	}
}

form {
	.input-wrapper {
		margin: 0 0 30px 0;

		&:last-child {
			margin-bottom: 20px;
		}

		&.split {
			input {
				width: auto;
			}
		}

		> p {
			margin: 0 0 5px 0;
			padding: 0;
		}
	}

	.checkbox-set {
		.checkbox-wrapper {
			margin: 0 0 10px 0;
		}
	}

	.checkbox-wrapper {
		margin: 0 0 25px 0;

		label {
			@extend .flex;
			@extend .flex-center;

			cursor: pointer;

			> input {
				margin: 0 7px 0 0;
				cursor: pointer;
			}

			> span {
				margin: 3px 0 0 0;

				@extend .static;
			}
		}
	}

	select {
		font-size: 16px;
		font-weight: 300;
		background: $gray;
	}

	input[type=text], input[type=number], input[type=textbox], input[type=password], input[type=textarea] {
		width: 100%;
		padding: 0 0 3px 0;

		border: 0px;
		border-bottom: 1px solid $gray-dark;

		color: $black;
		font-size: 1.175em;
		font-weight: 300;

		&:focus {
			outline: 0;
			box-shadow: none;
		}
	}

	.submit {
		margin: 40px 0 0 0;

		&.button {
			padding: 17px 0 15px 0;
			font-size: 1.125em;
		}
	}
}

@import "site/site.about";
@import "site/site.dashboard";
@import "site/site.home";
@import "site/site.office";
@import "site/site.resource";
@import "site/site.resources";
@import "site/site.teachers";

@import "directives/directive.animateview";
@import "directives/directive.animateload";
@import "directives/directive.footer";
@import "directives/directive.form";
@import "directives/directive.header";
@import "directives/directive.login";
@import "directives/directive.modal";
@import "directives/directive.notifications";
@import "directives/directive.registration";
@import "directives/directive.resource";
@import "directives/directive.select";
@import "directives/directive.table";