#site-office {
	form {
		width: 490px;
	}

	.resource-list {
		.title {
			margin: 40px 0 20px 0;

			h3 {
				margin: 0 15px 0 0;
			}

			a {
				i {
					margin: 0 5px 4px 0;
				}
			}
		}

		.resource {
			.sub {
				text-transform: uppercase;
				font-size: 11px;
				font-weight: 500;
				color: $gray-dark;
			}
		}
	}

	#lessons {
		&.ng-enter {
			@include effect(fadeIn, .3s);
		}
	}
}