<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title ng-bind="Framework.title ? Framework.title : 'UNICEF Portugal'"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link async rel="image_src" href="/images/image_src.png" />

		<script src="https://use.fortawesome.com/4b04de5a.js"></script>
		<link async rel="stylesheet"  href="{{ stylePath "style.css" }}" type="text/css" />
		<link async rel="stylesheet"  href="{{ assetPath "animate.min.css" }}" type="text/css" />
		<script type="text/javascript" src="{{ assetPath "bundle.js" }}"></script>
		<script type="text/javascript" src="{{ assetPath "site.js" }}"></script>

		<script>
		</script>
	</head>
	<body ui-view></body>
</html>