<main id="site-dashboard" c-animate-view>
	<h1>Olá{{User.name ? ' '+User.name : ''}}!</h1>
	<div class="content-separator"></div>
	<h2>Welcome back to your dashboard.</h2>
	<section>
		<div class="title">
			<h3>My Profile</h3>
			<a class="action" href="" ng-click="page.editingProfile ? page.CancelProfile() : page.EditProfile()">
				{{page.editingProfile ? 'Cancel' : 'Edit'}}
			</a>
		</div>
		<div class="content">
			<form c-form="page.$promise" name="profile">
			<table class="keyval">
				<tbody>
					<tr>
						<td>Name</td>
						<td>
							<span ng-if="!page.editingProfile">{{User.name}}</span>
							<div ng-if="page.editingProfile" class="">
								<input ng-model="User.name" c-validate type="text" name="name" placeholder="Enter your name ..."  ng-enter="page.SaveProfile()" />
								<c-form-errors element="profile.name"></c-form-errors>
							</div>
						</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>
							<span ng-if="!page.editingProfile">{{User.email}}</span>
							<div ng-if="page.editingProfile" class="">
								<input ng-model="User.email" c-validate type="text" name="email" placeholder="Enter your emaila ..." ng-enter="page.SaveProfile()" />
								<c-form-errors element="profile.email"></c-form-errors>
							</div>
						</td>
					</tr>
					<!--
					<tr>
						<td>Password</td>
						<td>* * * * * *</td>
					</tr>
					-->
					<tr>
						<td>School Name</td>
						<td>
							<span ng-if="!page.editingProfile">{{User.school}}</span>
							<div ng-if="page.editingProfile" class="">
								<input ng-model="User.school" c-validate type="text" name="school" placeholder="Enter your school ..." ng-enter="page.SaveProfile()" />
								<c-form-errors element="profile.school"></c-form-errors>
							</div>
						</td>
					</tr>
					<tr>
						<td>Subject Taught</td>
						<td>
							<span ng-if="!page.editingProfile">{{User.subject}}</span>
							<div ng-if="page.editingProfile" class="">
								<input ng-model="User.subject" c-validate type="text" name="subject" placeholder="Enter your subject ..." ng-enter="page.SaveProfile()" />
								<c-form-errors element="profile.subject"></c-form-errors>
							</div>
						</td>
					</tr>
					<tr ng-if="page.editingProfile">
						<td><a class="button" ng-class="[page.saving ? 'busy' : '']" ng-click="page.SaveProfile()">Save Profile</a></td>
					</tr>
				</tbody>
			</table>
			</form>
		</div>
	</section>
	<section id="activities">
		<div class="title"><h3>My Activity</h3></div>
		<table class="c-table">
			<thead>
				<tr>
					<th></th>
					<th>Activity Name</th>
					<th>Date Downloaded</th>
					<th>Resource Type</th>
					<th>Theme</th>
					<th>Age Group</th>
					<th>Rating</th>
					<th>Feedback</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="activity in page.activities | orderBy:'-lessondownload.stamp'">
					<td><i ng-click="page.selectedLesson = activity" class="ico ico-search"></i></td>
					<td>{{activity.title}}</td>
					<td>{{activity.lessondownload.stamp*1000 | amDateFormat:'DD-MM-YY'}}</td>
					<td>{{activity.type}}</td>
					<td>{{activity.resource.title}}</td>
					<td>{{activity.minAge+' - '+activity.maxAge}}</td>
					<td class="rating">
						<i ng-if="activity.lessonrating.rating && activity.lessonrating.rating >= 1" class="ico ico-star" ng-mouseout="activity.rating = 0" ng-click="page.SaveRating(activity, $index+1)" ng-repeat="i in [].constructor(activity.lessonrating.rating) track by $index"></i><i ng-if="!activity.lessonrating.rating || activity.lessonrating.rating < 5" class="ico" ng-mouseout="activity.rating = 0" ng-click="page.SaveRating(activity, (activity.lessonrating.rating+$index+1))" ng-class="activity.rating >= $index+1 ? 'ico-star' : 'ico-star-outline'" ng-mouseover="activity.rating = $index+1;" ng-repeat="i in [].constructor(5-(activity.lessonrating.rating || 0)) track by $index"></i>
					</td>
					<td>
						<i ng-if="activity.lessonrating.comment" class="ico ico-check-circle green"></i>
						<i ng-if="!activity.lessonrating.comment" class="ico ico-circle dim"></i>
						<a href="" ng-click="page.ShowFeedback(activity);">{{activity.lessonrating.comment ? 'View Feedback' : 'Add Feedback'}}</a>
					</td>
				</tr>
			</tbody>
		</table>

		<modal id="feedback" show="page.lessonrating">
			<h2 class="title">Feedback</h2>
			<textarea ng-focus="page.feedback" placeholder="Enter your feedback here ..." ng-model="page.feedback"></textarea>
			<div class="actions">
				<a class="button" ng-click="page.SaveFeedback()">Save Feedback</a>
				<a class="button outline" ng-click="page.CloseFeedback()">Cancel</a>
			</div>
		</modal>

		<resource lesson="page.selectedLesson"></resource>
		<!--
		<c-table 
			pagination=false
			no-data-message="You have not downloaded any activities yet."
			columns="{
				'Activity Name' : {
					'key' : 'title',
					'align' : 'left'
				},
				'Date Downloaded' : { 
					'key' : 'lessondownload.stamp',
					'type' : 'date',
					'dateFormat' : 'DD-MM-YY',
					'align' : 'left'
				},
				'Resource Type' : {
					'key' : 'type',
					'align' : 'left'
				},
				'Theme' : { 
					'key' : 'resource.title',
					'align' : 'left'
				},
				'Age Group' : {
					'eval' : 'minAge+\' - \'+maxAge',
					'align' : 'left'
				},
				'Rating' : { 
					'eval' : '\'<span ng-click=\\\'page.EditActivity(lesson.id)\\\'>
									<i class=\\\'ico ico-star\\\' ng-if=\\\'lessonrating.rating >= 1\\\'></i>
									<i class=\\\'ico ico-star-outline\\\' ng-if=\\\'!lessonrating.rating || lessonrating.rating < 1\\\'></i>
									<i class=\\\'ico ico-star\\\' ng-if=\\\'lessonrating.rating >= 2\\\'></i>
									<i class=\\\'ico ico-star-outline\\\' ng-if=\\\'!lessonrating.rating || lessonrating.rating < 2\\\'></i>
									<i class=\\\'ico ico-star\\\' ng-if=\\\'lessonrating.rating >= 3\\\'></i>
									<i class=\\\'ico ico-star-outline\\\' ng-if=\\\'!lessonrating.rating || lessonrating.rating < 3\\\'></i>
									<i class=\\\'ico ico-star\\\' ng-if=\\\'lessonrating.rating >= 4\\\'></i>
									<i class=\\\'ico ico-star-outline\\\' ng-if=\\\'!lessonrating.rating || lessonrating.rating < 4\\\'></i>
									<i class=\\\'ico ico-star\\\' ng-if=\\\'lessonrating.rating >= 5\\\'></i>
									<i class=\\\'ico ico-star-outline\\\' ng-if=\\\'!lessonrating.rating || lessonrating.rating < 5\\\'></i>
								</span>
							\'',
					'align' : 'left'
				},
				'Feedback' : { 
					'key' : 'lessonrating.comment',
					'align' : 'left'
				}
			}"
			data="page.activities"
		>
		</c-table>
		-->
	</section>
	<!--
	<section>
		<div class="title"><h3>My UNICEF</h3></div>
		<div class="content">
			<ul>
				<li>We just added some new resources to the Education theme that your students may enjoy. <br /> <a href="">Check it out here.</a></li>
				<li>We just added some new resources to the Sustainable Development Goals theme that your students may enjoy. <br /> <a href="">Check it out here.</a></li>
			</ul>
		</div>
	</section>
	-->
</main>