<main id="site-teachers" c-animate-view>
	<h1>Teacher Support</h1>
	<div class="content-separator"></div>
	<h2>Welcome! We’re so happy to have you here as a part of UNICEF’s teaching team!</h2>
	<section id="video" class="hero">
		<img c-animate-load src="/images/teachersupport1.jpg" />
	</section>
	<div class="content-separator center"></div>

	<section id="steps">
		<h3>We’ve collaborated with many teachers to bring you the best content.</h3>
		<h3>Here are some tips for getting the most out of the available content and the platform as a whole.</h3>
		<ul>
			<li ng-if="!User.token">
				<span class="step-number">1</span>
				<span class="step-info">
					<h4 class="step-title">Sign In</h4>
					<p class="step-description">Not much to it &mdash; you've done this before!</p>
				</span>
			</li>
			<li>
				<span class="step-number">{{User.token ? 1 : 2}}</span>
				<span class="step-info">
					<h4 class="step-title">Download</h4>
					<p class="step-description">All of your downloaded activities will be stored in your dashboard, making it easy to find your content.</p>
				</span>
			</li>
			<li>
				<span class="step-number">{{User.token ? 2 : 3}}</span>
				<span class="step-info">
					<h4 class="step-title">Teach</h4>
					<p class="step-description">Most activities take about an hour on average, but we are happy to supplement these cirriculums with extra workshops.</p>
				</span>
			</li>
			<li>
				<span class="step-number">{{User.token ? 3 : 4}}</span>
				<span class="step-info">
					<h4 class="step-title">Rate</h4>
					<p class="step-description">We strive to provide content that is valuable for you and your students. Your feedback and ratings help us ensure that the material we are producing is beneficial to your classroom.</p>
				</span>
			</li>
		</ul>
		<div ng-if="!User.token" class="text-center"><a class="button" ng-click="site.Login()" href="">Sign In</a></div>
	</section>
</main>