<main id="site-resource" class="resource-page" c-animate-view>
	<h1>{{page.resource.title}}</h1>
	<div class="content-separator"></div>
	<h4>
		This is a description about the {{page.resource.title}} theme. 
		There will be helpful information here to discuss how teachers can incorporate this theme into their classrooms. 
	</h4>
	<div id="filters" class="flex flex-center">
		<p class="">filters</p>
		<div class="filter-input flex">
			<span class="full-flex">Age Range</span>
			<i class="ico ico-keyboard-arrow-down"></i>
			<div class="filter-dropdown">
				<ul>
					<li ng-click="filters.ages[4] = !filters.ages[4]">
						<i class="ico" ng-class="filters.ages[4] ? 'ico-checkbox-checked' : 'ico-checkbox-unchecked'"></i>
					 	<span>4-5</span>
					</li>
					<li ng-click="filters.ages[6] = !filters.ages[6]">
						<i class="ico" ng-class="filters.ages[6] ? 'ico-checkbox-checked' : 'ico-checkbox-unchecked'"></i>
					 	<span>6-9</span>
					</li>
					<li ng-click="filters.ages[10] = !filters.ages[10]">
						<i class="ico" ng-class="filters.ages[10] ? 'ico-checkbox-checked' : 'ico-checkbox-unchecked'"></i>
					 	<span>10-13</span>
					</li>
					<li ng-click="filters.ages[14] = !filters.ages[14]">
						<i class="ico" ng-class="filters.ages[14] ? 'ico-checkbox-checked' : 'ico-checkbox-unchecked'"></i>
					 	<span>14-16</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="filter-input flex">
			<span class="full-flex">Resource Type</span>
			<i class="ico ico-keyboard-arrow-down"></i>
			<div class="filter-dropdown">
				<ul>
					<li ng-click="filters.types.pdf = !filters.types.pdf">
						<i class="ico" ng-class="filters.types.pdf ? 'ico-checkbox-checked' : 'ico-checkbox-unchecked'"></i>
					 	<span>PDF</span>
					</li>
					<li ng-click="filters.types.video = !filters.types.video">
						<i class="ico" ng-class="filters.types.video ? 'ico-checkbox-checked' : 'ico-checkbox-unchecked'"></i>
					 	<span>Video</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<section id="" class="resource-list">
		<div id="themes" class="resources">
			<div class="resource" ng-repeat="(i, lesson) in page.filteredLessons" ng-click="page.selectLesson(lesson);">
				<div class="information">
					<p>{{lesson.title ? lesson.title : 'Lesson #'+i}}</p>
					<p class="caption">{{lesson.minAge}}-{{lesson.maxAge}} | {{lesson.type}}</p>
				</div>
				<div class="cover" ng-if="lesson.type == 'PDF'">
					<div>
						<div class=""><i class="ico ico-search"></i><span>Preview</span></div>
						<div class=""><i class="ico ico-download"></i><span>Download</span></div>
					</div>
				</div>
				<div class="cover" ng-if="lesson.type == 'video'">
					<div>
						<div class=""><i class="ico ico-play"></i><span>Watch Video</span></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<resource lesson="page.selectedLesson"></resource>
</main>