<main id="site-office" c-animate-view class="resource-page">
	<h1>Back Office</h1>
	<div class="content-separator"></div>
	<section id="resources" class="resource-list">
		<div class="title">
			<h3>Resources</h3>
			<a class="flex flex-center" ng-click="office.AddResource()"><i class="ico ico-plus-circle"></i> <span>Add New</span></a>
		</div>
		<div class="resources" ng-if="office.resources.length >= 0">
			<div class="resource"  ng-click="office.SetResource(resource);" ng-repeat="resource in office.resources">
				<div>
					<p>{{resource.title}}</p>
					<p class="sub">{{resource.type}}</p>
					<p class="sub">{{resource.lesson.minAge || 0}} - {{resource.lesson.maxAge  || 0}}</p>
				</div>
				<div class="cover">
					<div>
						<div ng-if="resource.type == 'theme'" class=""><a href="" class="white" ng-click="office.SetResource(resource);"><i class="ico ico-search"></i><span>View Lessons</span></a></div>
						<div class=""><a href="" class="white" ng-click="office.EditResource(resource);"><i class="ico ico-pencil"></i><span>Edit Resource</span></a></div>
						<div class="absolute top right"><a href="" class="alt" ng-click="office.DeleteResource(resource);"><i class="ico ico-times"></i></a></div>
					</div>		
				</div>
			</div>
		</div>
		<div class="no-resources" ng-if="office.resources.length <= 0">
			<h4>There are currently no resources.</h4>
			<p class="text-center"><a class="button" ng-click="office.AddResource()">Add Resource</a></p>
		</div>
	</section>
	<section id="lessons" class="resource-list" ng-if="office.resource.id && office.resource.type == 'theme'">
		<div class="title">
			<h3>{{office.resource.title}} Lessons</h3>
			<a class="flex flex-center" ng-click="office.AddLesson()"><i class="ico ico-plus-circle"></i> <span>Add New</span></a>
		</div>
		<div class="resources" ng-if="office.resource.lessons.length >= 0">
			<div class="resource" ng-repeat="lesson in office.resource.lessons">
				<div>
					<p>{{lesson.title}}</p>
					<p class="sub">{{lesson.type}}</p>
					<p class="sub">{{lesson.minAge || 0}} - {{lesson.maxAge  || 0}}</p>
				</div>

				<div class="cover">
					<div>
						<div class=""><a href="" class="white" ng-click="office.EditLesson(lesson);"><i class="ico ico-pencil"></i><span>Edit Lesson</span></a></div>
						<div class="absolute top right"><a href="" class="alt" ng-click="office.DeleteLesson(lesson);"><i class="ico ico-times"></i></a></div>
					</div>		
				</div>
			</div>
		</div>
		<div class="no-resources" ng-if="office.resource.lessons.length <= 0">
			<h4>There are currently no lessons attached to this resource.</h4>
			<p class="text-center"><a class="button" ng-click="office.AddLesson()">Add Lesson</a></p>
		</div>
	</section>

	<modal show="office.resource.editing" hidecornercancel=false hidebuttoncancel=false>
		<form c-form="office.$promise.resource" name="resource">
			<div class="input-series">
				<div class="input-wrapper">
					<p>Title</p>
					<input ng-model="form.resource.title" c-focus-on="office.resource.editing" c-validate placeholder="" type="text" name="title"  ng-enter="office.SaveResource()" />
					<c-form-errors element="resource.title"></c-form-errors>
				</div>
				<div class="input-wrapper">
					<p>Type</p>
					<c-select model="form.resource.type" val="type" label="label" title="Select a resource type" default="{ 'type' : 'theme', 'label' : 'Theme'}" data="[{ 'type' : 'theme', 'label' : 'Theme'}, {'type' : 'resource', 'label' : 'Resource' }]"></c-select>
					<c-form-errors element="resource.type"></c-form-errors>
				</div>
			</div>
			<a href="" class="submit button wide" ng-class="[!form.resource.type || !form.resource.title ? 'inactive' : '', form.resource.processing ? 'busy' : '']" ng-click="office.SaveResource()">
				{{form.resource.id ? 'Edit' : 'Add'}} Resource
			</a>
		</form>
	</modal>

	<modal show="office.lesson.editing" hidecornercancel=false hidebuttoncancel=false>
		<form c-form="office.$promise.lesson" name="lesson">
			<div class="input-series">
				<div class="input-wrapper">
					<p>Title</p>
					<input ng-model="form.lesson.title" c-focus-on="office.lesson.editing" c-validate placeholder="" type="text" name="title"  ng-enter="office.SaveLesson()" />
					<c-form-errors element="lesson.title"></c-form-errors>
				</div>
				<div class="input-wrapper">
					<p>Download URL</p>
					<input ng-model="form.lesson.url" c-validate placeholder="" type="text" name="url"  ng-enter="office.SaveLesson()" />
					<c-form-errors element="lesson.url"></c-form-errors>
				</div>
				<div class="input-wrapper">
					<p>Type</p>
					<c-select model="form.lesson.type" val="type" label="label" title="Select a resource type" default="{ 'type' : 'pdf', 'label' : 'PDF' }" data="[{ 'type' : 'pdf', 'label' : 'PDF' }, { 'type' : 'video', 'label' : 'Video' }]"></c-select>
					<c-form-errors element="lesson.type"></c-form-errors>
				</div>
				<div class="input-wrapper split">
					<p>Age Range</p>
					<input ng-model="form.lesson.minAge" c-validate placeholder="Min. Age" type="number" name="minAge"  ng-enter="office.SaveLesson()" />
					<input ng-model="form.lesson.maxAge" c-validate placeholder="Max. Age" type="number" name="maxAge"  ng-enter="office.SaveLesson()" />
					<c-form-errors element="lesson.minAge"></c-form-errors>
					<c-form-errors element="lesson.maxAge"></c-form-errors>
				</div>
			</div>
			<a href="" class="submit button wide" ng-class="[!form.lesson.type || !form.lesson.title ? 'inactive' : '', form.lesson.processing ? 'busy' : '']" ng-click="office.SaveLesson()">
				{{form.lesson.id ? 'Edit' : 'Add'}} Lesson
			</a>
		</form>
	</modal>
</main>