<main id="site-resources" class="resource-page" c-animate-view>
	<h1>Resources</h1>
	<div class="content-separator"></div>
	<h2>
		Welcome to the Resource Center.<br />
		What would you like to explore today?
	</h2>
	<div id="filters" class="flex flex-center">
		<p class="">filters</p>
		<div class="filter-input flex">
			<span class="full-flex">Age Range</span>
			<i class="ico ico-keyboard-arrow-down"></i>
			<div class="filter-dropdown">
				<ul>
					<li ng-click="filters.ages[4] = !filters.ages[4]">
						<i class="ico" ng-class="filters.ages[4] ? 'ico-checkbox-checked' : 'ico-checkbox-unchecked'"></i>
					 	<span>4-5</span>
					</li>
					<li ng-click="filters.ages[6] = !filters.ages[6]">
						<i class="ico" ng-class="filters.ages[6] ? 'ico-checkbox-checked' : 'ico-checkbox-unchecked'"></i>
					 	<span>6-9</span>
					</li>
					<li ng-click="filters.ages[10] = !filters.ages[10]">
						<i class="ico" ng-class="filters.ages[10] ? 'ico-checkbox-checked' : 'ico-checkbox-unchecked'"></i>
					 	<span>10-13</span>
					</li>
					<li ng-click="filters.ages[14] = !filters.ages[14]">
						<i class="ico" ng-class="filters.ages[14] ? 'ico-checkbox-checked' : 'ico-checkbox-unchecked'"></i>
					 	<span>14-16</span>
					</li>
				</ul>
			</div>
		</div>
		<!--
		<div class="filter-input flex">
			<span class="full-flex">Resource Type</span>
			<i class="ico ico-keyboard-arrow-down"></i>
			<div class="filter-dropdown">
				<ul>
					<li ng-click="filters.types.pdf = !filters.types.pdf">
						<i class="ico" ng-class="filters.types.pdf ? 'ico-checkbox-checked' : 'ico-checkbox-unchecked'"></i>
					 	<span>PDF</span>
					</li>
					<li ng-click="filters.types.video = !filters.types.video">
						<i class="ico" ng-class="filters.types.video ? 'ico-checkbox-checked' : 'ico-checkbox-unchecked'"></i>
					 	<span>Video</span>
					</li>
				</ul>
			</div>
		</div>
		-->
		<div class="flex flex-center" id="search">
			<i class="ico ico-search"></i>
			<div class="input-wrapper">
				<input type="text" ng-model="filters.search" placeholder="Search by theme or keyword" />
			</div>
		</div>
	</div>
	<section id="" class="resource-list">
		<h3>Themes</h3>
		<div id="themes" class="resources">
			<a ui-sref="site.resource({ 'resource' : resource.id })" class="black resource" ng-repeat="resource in page.filteredThemes | filter:filters.search">
				<p>{{resource.title}}</p>
			</a>
		</div>
		<h3>Complementary Resources</h3>
		<div id="resources" class="resources">
			<a ui-sref="site.resource({ 'resource' : resource.id })"class="resource black" ng-repeat="resource in page.filteredResources | filter:filters.search">
				<p>{{resource.title}}</p>
			</a>
		</div>
	</section>
</main>