<main id="site-home">
	<div class="hero" id="rotator">
		<img c-animate-load src="/images/home1.jpg" />
	</div>
	<section>
		<div class="content row">
			<div class="image">
				<img c-animate-load src="/images/home2.jpg" />
			</div>
			<div class="text">
				<h3>UNICEF's Mission</h3>
				<p>The world has changed, but children’s needs have not. See how UNICEF’s commitment to children remains as strong as ever despite the complexities of our world.</p>
			</div>
		</div>
	</section>
</main>
