<main id="site-about" c-animate-view>
	<h1>About Unicef</h1>
	<div class="content-separator"></div>
	<div class="hero">
		<img c-animate-load src="/images/about1.jpg" />
	</div>
	<section>
		<div class="content row">
			<div class="image" c-animate-view>
				<img c-animate-load src="/images/about2.jpg" />
			</div>
			<div class="text">
				<h3>UNICEF's Mission</h3>
				<h4>The world has changed, but children’s needs have not. See how UNICEF’s commitment to children remains as strong as ever despite the complexities of our world.</h4>
			</div>
		</div>
		<div class="content row">
			<div class="text">
				<h3>UNICEF’s 70th Anniversary</h3>
				<h4>Explore UNICEF’s 70 years in the field, through articles and historical timelines that give context to the work we do for every child, every day.</h4>
			</div>
			<div class="image" c-animate-view>
				<img c-animate-load src="/images/about3.jpg" />
			</div>
		</div>
		<div class="content row">
			<div class="image" c-animate-view>
				<img c-animate-load src="/images/about4.jpg" />
			</div>
			<div class="text">
				<h3>The State of the World’s Children Report</h3>
				<h4>Around the world, millions of children are trapped in cycles of poverty and violence. Read our report on the State of the World’s Children, and see the challenges facing the world's poor and isolated children.</h4>
			</div>
		</div>
	</section>
</main>